---
import Bento from '../bento.astro'
import About from './about.astro'
import Buttons from '../buttons.astro'
import Project from './project.astro'
import Resource from './resource.astro'
const ANCHOR_STYLES = [
  'font-thin',
  'responsive-text',
  'dark:text-amber-300',
  'text-amber-950'
].join(' ')
---

<Bento>
  <About />
  <Buttons />
  <div
    class='absolute font-fira responsive-text bg-emerald-300 left-1 rounded-sm'
  >
    <button></button>
  </div>
  <Project>
    <h1>Json Forms App</h1>
    <p class='font-bold responsive-text-xxs font-fira dark:text-slate-200'>
      This application allows you to convert a JSON file to a web form
      interface, register the data in a database and display it in a table.
    </p>
    <span class='responsive-text-sm font-semibold'> Stack</span>
    <ul
      class='flex gap-1 [&>li]:font-thin [&>li>a>img]:border-2 [&>li>a>img]:dark:border-amber-300 [&>li>a>img]:border-amber-950 [&>li>a>img]:rounded-sm text-center'
    >
      <!-- Supabase -->
      <li>
        <a
          href='https://supabase.io/'
          target='_blank'
          rel='noopener noreferrer'
        >
          <img
            src='https://img.shields.io/badge/-Supabase-181818?style=for-the-badge&logo=supabase&logoColor=white'
            alt='Supabase'
          />
        </a>
      </li>
      <!-- Next.js -->
      <li>
        <a href='https://nextjs.org/' target='_blank' rel='noopener noreferrer'>
          <img
            src='https://img.shields.io/badge/-Next.js-181818?style=for-the-badge&logo=next.js&logoColor=white'
            alt='Next.js'
          />
        </a>
      </li>
      <!-- Tailwind CSS -->
      <li>
        <a
          href='https://tailwindcss.com/'
          target='_blank'
          rel='noopener noreferrer'
        >
          <img
            src='https://img.shields.io/badge/-Tailwind%20CSS-181818?style=for-the-badge&logo=tailwind-css&logoColor=white'
            alt='Tailwind CSS'
          />
        </a>
      </li>
    </ul>
    <span class='responsive-text-sm font-semibold'> Demo & Source Code</span>
    <div class='dark:text-amber-300 text-amber-950'>
      <a
        href='https://github.com/jamerrq/json-forms-app'
        target='_blank'
        rel='noopener noreferrer'
        class='font-thin responsive-text'
      >
        
      </a>
      <a
        href='https://json-forms-app.vercel.app/'
        target='_blank'
        rel='noopener noreferrer'
        class='font-thin responsive-text'
      >
        󰖟
      </a>
    </div>
  </Project>
  <Project>
    <h1>Rocket Launches</h1>
    <p class='font-bold responsive-text-xxs font-fira dark:text-slate-200'>
      Small app to explore the beauty and power of Astro with features like view
      Transition, dynamic data fetching and server-side rendering.
    </p>
    <span class='responsive-text-sm font-semibold'> Stack</span>
    <ul
      class='flex gap-1 [&>li]:font-thin [&>li>a>img]:border-2 [&>li>a>img]:dark:border-amber-300 [&>li>a>img]:border-amber-950 [&>li>a>img]:rounded-sm'
    >
      <!-- Astro -->
      <li>
        <a
          href='https://astro.build/'
          target='_blank'
          rel='noopener noreferrer'
        >
          <img
            src='https://img.shields.io/badge/-Astro-181818?style=for-the-badge&logo=astro&logoColor=white'
            alt='Astro'
          />
        </a>
      </li>
      <!-- Tailwind CSS -->
      <li>
        <a
          href='https://tailwindcss.com/'
          target='_blank'
          rel='noopener noreferrer'
        >
          <img
            src='https://img.shields.io/badge/-Tailwind%20CSS-181818?style=for-the-badge&logo=tailwind-css&logoColor=white'
            alt='Tailwind CSS'
          />
        </a>
      </li>
    </ul>
    <span class='responsive-text-sm font-semibold'> Demo & Source Code</span>
    <div class='dark:text-amber-300 text-amber-950'>
      <a
        href='https://github.com/jamerrq/rocket-launches'
        target='_blank'
        rel='noopener noreferrer'
        class='font-thin responsive-text'
      >
        
      </a>
      <a
        href='https://rocket-launches.deno.dev/'
        target='_blank'
        rel='noopener noreferrer'
        class='font-thin responsive-text'
      >
        󰖟
      </a>
    </div>
  </Project>
  <Project>
    <h1>Reading List App</h1>
    <p class='font-bold responsive-text-xxs font-fira dark:text-slate-200'>
      This is a simple app that allows users to create a reading list. Users can
      add or remove books from their bookmarks list.
    </p>
    <span class='responsive-text-sm font-semibold'> Stack</span>
    <ul
      class='flex gap-1 [&>li]:font-thin [&>li>a>img]:border-2 [&>li>a>img]:dark:border-amber-300 [&>li>a>img]:border-amber-950 [&>li>a>img]:rounded-sm'
    >
      <!-- Next -->
      <li>
        <a href='https://nextjs.org/' target='_blank' rel='noopener noreferrer'>
          <img
            src='https://img.shields.io/badge/-Next.js-181818?style=for-the-badge&logo=next.js&logoColor=white'
            alt='Next.js'
          />
        </a>
      </li>
      <!-- Tailwind CSS -->
      <li>
        <a
          href='https://tailwindcss.com/'
          target='_blank'
          rel='noopener noreferrer'
        >
          <img
            src='https://img.shields.io/badge/-Tailwind%20CSS-181818?style=for-the-badge&logo=tailwind-css&logoColor=white'
            alt='Tailwind CSS'
          />
        </a>
      </li>
    </ul>
    <span class='responsive-text-sm font-semibold'> Demo & Source Code</span>
    <div class='dark:text-amber-300 text-amber-950'>
      <a
        href='https://github.com/jamerrq/reading-list-app'
        target='_blank'
        rel='noopener noreferrer'
        class='font-thin responsive-text'
      >
        
      </a>
      <a
        href='https://reading-list-app-ecru.vercel.app/'
        target='_blank'
        rel='noopener noreferrer'
        class='font-thin responsive-text'
      >
        󰖟
      </a>
    </div>
  </Project>
  <div
    class='absolute font-fira responsive-text bg-emerald-300 right-1 rounded-sm'
  >
    <button></button>
  </div>
  <div
    class='absolute font-fira responsive-text bg-cyan-300 bottom-16 left-1 rounded-sm'
  >
    <button></button>
  </div>
  <Resource>
    <span> Resources App</span>
    <a
      href='https://github.com/jamerrq/resources-app'
      target='_blank'
      rel='noopener noreferrer'
      class={ANCHOR_STYLES}
    >
      
    </a>
    <a
      href='https://resources-app.vercel.app/'
      target='_blank'
      rel='noopener noreferrer'
      class={ANCHOR_STYLES}
    >
      󰖟
    </a>
  </Resource>
  <Resource>
    <span> Midu.dev</span>
    <a
      href='https://midu.dev/'
      target='_blank'
      rel='noopener noreferrer'
      class={ANCHOR_STYLES}
      title='Website'
    >
      󰖟
    </a>
    <a
      href='https://midu.dev/'
      target='_blank'
      rel='noopener noreferrer'
      class={ANCHOR_STYLES}
      title='Twitch Channel'
    >
      
    </a>
    <a
      href='https://www.youtube.com/c/midudev'
      target='_blank'
      rel='noopener noreferrer'
      class={ANCHOR_STYLES}
      title='Youtube Channel'
    >
      
    </a>
    <a
      href='https://twitter.com/midudev'
      target='_blank'
      rel='noopener noreferrer'
      class={ANCHOR_STYLES}
      title='Twitter'
    >
      
    </a>
  </Resource>
  <Resource flexDirection='col' gap={0}>
    <span> Free Programming Books</span>
    <div>
      <a
        href='https://github.com/EbookFoundation/free-programming-books'
        target='_blank'
        rel='noopener noreferrer'
        class={ANCHOR_STYLES}
      >
        
      </a>
      <a
        href='https://ebookfoundation.github.io/free-programming-books/'
        target='_blank'
        rel='noopener noreferrer'
        class={ANCHOR_STYLES}
      >
        󰖟
      </a>
    </div>
  </Resource>
  <div
    class='absolute font-fira responsive-text bg-cyan-300 bottom-16 right-1 rounded-sm'
  >
    <button></button>
  </div>
</Bento>
