---
const DEV_TOOLS_STYLES = [
  'col-span-2',
  'row-span-3',
  'bg-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'flex-col',
  'gap-2',
  'items-center',
  'justify-center',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  // 'border-2',
  'border-cyan-950',
  'dark:border-cyan-300',
  'text-blue-950',
  'dark:bg-slate-900',
  'dark:text-blue-300',
  'text-2xl',
  'font-bold',
  'p-2'
].join(' ')

import TechIcon from '@components/icons/tech-icon.astro'
import TechIcons, { type IconProps } from '@data/tech-icons'
const { ides, apis, linters, dvc, others } = TechIcons

interface Props {
  lang?: string
}
const { lang = 'en' }: Props = Astro.props
---

<article title='The tools I (love) work with' class={DEV_TOOLS_STYLES}>
  <header class='flex gap-2 text-2xl'>
    <h1 class=''>Dev Tools</h1>
    <!-- <p class='font-thin'></p> -->
  </header>
  <ul
    class='text-xl w-full grid place-items-center grid-cols-2 grid-rows-3 gap-1 [&>li]:grid [&>li]:place-items-center [&>li>main>a>img]:rounded-sm [&_header]:text-amber-950 [&_header]:dark:text-amber-300'
  >
    <li>
      <header class='flex gap-2'>
        <h2>IDEs</h2>
        <!-- <p class='font-thin'>󰨞</p> -->
      </header>
      <main>
        <ul class='flex gap-1 w-full flex-wrap p-1 rounded-sm'>
          {
            ides.map((tech: IconProps) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </main>
    </li>
    <li>
      <header class='flex gap-2'>
        <h2>APIs</h2>
        <!-- <p class='font-thin'>󰒍</p> -->
      </header>
      <main class='flex'>
        <ul
          class='flex gap-1 w-full flex-wrap [&>li>a>img]:border-2 p-1 rounded-sm'
        >
          {
            apis.map((tech: IconProps) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </main>
    </li>
    <li>
      <header class='flex gap-2'>
        <h2>Linters</h2>
      </header>
      <main>
        <ul
          class='flex gap-1 w-full flex-wrap [&>li>a>img]:border-2 p-1 rounded-sm'
        >
          {
            linters.map((tech: IconProps) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </main>
    </li>
    <li>
      <header class='flex gap-2'>
        <h2>DVC</h2>
      </header>
      <main>
        <ul
          class='flex gap-1 w-full flex-wrap [&>li>a>img]:border-2 p-1 rounded-sm'
        >
          {
            dvc.map((tech: IconProps) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </main>
    </li>
    <li class='col-span-2 -mt-2'>
      <header class='flex gap-2'>
        <h2>
          {lang === 'en' ? 'Others' : 'Otras'}
        </h2>
        <!-- <p class='font-thin'></p> -->
      </header>
      <main class='flex gap-1'>
        <ul
          class='flex gap-1 w-full flex-wrap [&>li>a>img]:border-2 p-1 rounded-sm'
        >
          {
            others.map((tech: IconProps) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </main>
    </li>
  </ul>
</article>
