---
import TechIcon from '@components/icons/tech-icon.astro'
import TechIcons, { type IconProps } from '@data/tech-icons'
const { ides, apis, linters, dvc, others } = TechIcons

import Box from '@components/boxes/box.astro'

interface Props {
  lang?: string
}
const { lang = 'en' }: Props = Astro.props
---

<Box
  title='The tools I (love) work with'
  otherStyles='xl:row-span-3 xl:col-span-2 animate-delay-300'
  animated
>
  <header class='flex gap-2 text-2xl'>
    <h1 class='dark:text-emerald-300'>Dev Tools</h1>
  </header>
  <ul
    class='text-xl w-full grid place-items-center grid-cols-2 grid-rows-3 gap-1 [&>li]:grid [&>li]:place-items-center [&>li>main>a>img]:rounded-[10px] [&_header]:text-cyan-950 [&_header]:dark:text-cyan-300'
  >
    <li>
      <header class='flex gap-2'>
        <h2>IDEs</h2>
        <!-- <p class='font-thin'>󰨞</p> -->
      </header>
      <section>
        <ul class='flex gap-1 w-full flex-wrap p-1 rounded-[10px]'>
          {
            ides.map((tech: IconProps) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </section>
    </li>
    <li>
      <header class='flex gap-2'>
        <h2>APIs</h2>
        <!-- <p class='font-thin'>󰒍</p> -->
      </header>
      <section class='flex'>
        <ul
          class='flex gap-1 w-full flex-wrap [&>li>a>img]:border-2 p-1 rounded-[10px]'
        >
          {
            apis.map((tech: IconProps) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </section>
    </li>
    <li>
      <header class='flex gap-2'>
        <h2>Linters</h2>
      </header>
      <section>
        <ul
          class='flex gap-1 w-full flex-wrap [&>li>a>img]:border-2 p-1 rounded-[10px]'
        >
          {
            linters.map((tech: IconProps) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </section>
    </li>
    <li>
      <header class='flex gap-2'>
        <h2>DVC</h2>
      </header>
      <section>
        <ul
          class='flex gap-1 w-full flex-wrap [&>li>a>img]:border-2 p-1 rounded-[10px]'
        >
          {
            dvc.map((tech: IconProps) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </section>
    </li>
    <li class='col-span-2 -mt-2'>
      <header class='flex gap-2'>
        <h2>
          {lang === 'en' ? 'Others' : 'Otras'}
        </h2>
        <!-- <p class='font-thin'></p> -->
      </header>
      <section class='flex gap-1'>
        <ul
          class='flex gap-1 w-full flex-wrap [&>li>a>img]:border-2 p-1 rounded-[10px]'
        >
          {
            others.map((tech: IconProps) => (
              <li>
                <TechIcon obj={tech} />
              </li>
            ))
          }
        </ul>
      </section>
    </li>
  </ul>
</Box>
