---
const SOCIALS_STYLES: string = [
  'col-span-1 xl:col-span-2',
  'row-span-2',
  'gap-2',
  'bg-slate-300/70',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'text-2xl xl:text-4xl',
  'font-bold',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'dark:transition-all',
  'border-indigo-950',
  'dark:border-indigo-300',
  // 'border-2',
  'dark:bg-slate-900',
  'text-indigo-950',
  'dark:text-indigo-300',
  'grid',
  'grid-rows-2',
  'grid-cols-1',
  'p-2'
].join(' ')

import {
  siPython,
  siJavascript,
  siTypescript,
  siCsharp,
  siGnubash
} from 'simple-icons'

interface Props {
  lang?: string
}
const { lang = 'en' }: Props = Astro.props

// {SVGS_STYLES}
const SVGS_STYLES = [
  'xl:w-8 w-6',
  'xl:h-8 h-6',
  'fill-indigo-950',
  'dark:fill-indigo-300'
].join(' ')
---

<article class={SOCIALS_STYLES} title='My Links'>
  <div class='flex gap-2 justify-center'>
    <p>
      {lang === 'en' ? 'Languages' : 'Lenguajes'}
    </p>
  </div>
  <div class='flex justify-around [&>a]: [&>a]:font-thin'>
    <!-- Python -->
    <a
      href='https://www.python.org/'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='Python'
    >
      <svg class={SVGS_STYLES} set:html={siPython.svg} />
    </a>
    <!-- JavaScript -->
    <a
      href='https://developer.mozilla.org/en-US/docs/Web/JavaScript'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='JavaScript'
    >
      <svg class={SVGS_STYLES} set:html={siJavascript.svg} />
    </a>
    <!-- TypeScript -->
    <a
      href='https://www.typescriptlang.org/'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='TypeScript'
    >
      <svg class={SVGS_STYLES} set:html={siTypescript.svg} />
    </a>
    <!-- Bash -->
    <a
      href='https://www.gnu.org/software/bash/'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='Bash'
    >
      <svg class={SVGS_STYLES} set:html={siGnubash.svg} />
    </a>
    <!-- C# -->
    <a
      href='https://docs.microsoft.com/en-us/dotnet/csharp/'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='C#'
    >
      <svg class={SVGS_STYLES} set:html={siCsharp.svg} />
    </a>
  </div>
</article>
