---
const OS_STYLES = [
  'col-span-1',
  'row-span-2',
  'gap-2',
  'bg-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'flex-col',
  'items-center',
  'justify-center',
  'responsive-text-xs',
  'font-bold',
  'dark:text-emerald-400',
  'text-emerald-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'border-emerald-950',
  'dark:border-emerald-300',
  'border-2',
  'dark:bg-slate-900'
  // 'dark:text-slate-300'
  // 'hover:scale-[1.02]',
  // 'hover:duration-200',
  // 'hover:ease-in-out',
].join(' ')
const DEV_ICONS_STYLES = [
  'w-10',
  'h-10',
  'hover:scale-110',
  'transition-all',
  'dark:bg-slate-300',
  'bg-slate-900',
  'p-1',
  'rounded-md',
  'border-2',
  'border-slate-800'
].join(' ')
import { siVitest, siMocha, siChai, siJest, siGit } from 'simple-icons'
---

<article class={OS_STYLES}>
  <header class='flex gap-2'>
    <h1>Testing</h1>
  </header>
  <main
    class='grid place-items-center gap-2 grid-cols-2 grid-rows-2 [&>a>img]:rounded-sm [&>a>img]:border-2'
  >
    <!-- Vitest -->
    <a
      href='https://vitest.dev/'
      target='_blank'
      rel='noopener noreferrer'
      title='Vitest'
    >
      <svg
        class={DEV_ICONS_STYLES}
        set:html={siVitest.svg}
        fill={`#${siVitest.hex}`}
      />
    </a>
    <!-- Mocha -->
    <a
      href='https://mochajs.org/'
      target='_blank'
      rel='noopener noreferrer'
      title='Mocha'
    >
      <svg
        class={DEV_ICONS_STYLES}
        set:html={siMocha.svg}
        fill={`#${siMocha.hex}`}
      />
    </a>
    <!-- Chai -->
    <a
      href='https://www.chaijs.com/'
      target='_blank'
      rel='noopener noreferrer'
      title='Chai'
    >
      <svg
        class={DEV_ICONS_STYLES}
        set:html={siChai.svg}
        fill={`#${siGit.hex}`}
      />
    </a>
    <!-- Jest -->
    <a
      href='https://jestjs.io/'
      target='_blank'
      rel='noopener noreferrer'
      title='Jest'
    >
      <svg
        class={DEV_ICONS_STYLES}
        set:html={siJest.svg}
        fill={`#${siJest.hex}`}
      />
    </a>
  </main>
</article>
