---
interface Props {
  href?: string
  rounded?: boolean
  border?: boolean
}

const { href, rounded = true, border = false }: Props = Astro.props

const BUTTONS_STYLES = [
  'col-span-1 xl:col-span-2',
  'row-span-1',
  'gap-2',
  rounded && 'rounded-[10px]',
  'shadow-[0_0_0.15rem_rgb(8_51_68)]',
  'flex',
  'items-center',
  'justify-evenly',
  'text-slate-950',
  'font-primary',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'dark:bg-slate-900',
  'dark:text-slate-100',
  'bg-slate-300',
  'p-2',
  'font-bold',
  border && 'border-2 border-slate-50',
  'space-evenly'
].join(' ')

const BUTTON_STYLES = [
  'dark:hover:text-emerald-300',
  'hover:text-emerald-900',
  'cursor-pointer',
  'flex',
  'flex-col',
  'items-center'
].join(' ')

import { siGithub, siGooglecardboard } from 'simple-icons'

import Home from '@components/icons/home.astro'
import Moon from '@components/icons/moon.astro'
import Sun from '@components/icons/sun.astro'
import Translator from '@components/icons/translator.astro'

const BOARD_BUTTON_STYLE = import.meta.env.DEV && 0 ? 'block' : 'hidden'

const SVGS_STYLES = [
  'w-6',
  'h-6',
  'sm:w-8',
  'sm:h-8',
  'inline-flex',
  'fill-slate-950',
  'dark:fill-emerald-300',
  'text-center',
  'mx-2'
].join(' ')
---

<article class={BUTTONS_STYLES}>
  <!-- THEME SWITCH -->
  <button
    id='theme-toggle'
    type='button'
    title='Switch dark/light theme'
    class='flex flex-col items-center group'
  >
    <Moon class={`${SVGS_STYLES} hidden`} id='theme-toggle-dark-icon' />
    <Sun class={`${SVGS_STYLES} hidden`} id='theme-toggle-light-icon' />
    <span
      class='text-xs group-hover:text-emerald-900 dark:group-hover:text-emerald-300'
    >
      theme</span
    >
  </button>
  <!-- LANGUAGE SWITCH -->
  <a
    class={BUTTON_STYLES}
    aria-label='Switch language en/es'
    id='language-toggle'
    href={href}
  >
    <Translator class={SVGS_STYLES} />
    <span class='text-xs'>en/es</span>
  </a>
  <!-- HOME -->
  <button class={`${BUTTON_STYLES} `} title='go home' id='home-button'>
    <Home class={SVGS_STYLES} />
    <span class='text-xs'>home</span>
  </button>
  <!-- SOURCE CODE -->
  <a
    href='https://github.com/jamerrq/jamerrq.dev'
    target='_blank'
    rel='noopener noreferrer'
    class='dark:hover:text-emerald-300 hover:text-emerald-900 flex flex-col gap-1 items-center cursor-pointer'
    title='Source code on GitHub'
  >
    <svg class={SVGS_STYLES} set:html={siGithub.svg} />
    <span class='text-xs text-center'>source</span>
  </a>
  <!-- BOARD -->
  <a
    href='/board'
    class={`${BUTTON_STYLES} ${BOARD_BUTTON_STYLE}`}
    title='Go to the board'
  >
    <svg class={SVGS_STYLES} set:html={siGooglecardboard.svg} />
    <span class='text-xs'>board</span>
  </a>
</article>
