---
interface Props {
  href?: string
}

const { href }: Props = Astro.props

const BUTTONS_STYLES = [
  'col-span-1 xl:col-span-2',
  'row-span-1',
  'gap-2',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-around',
  'responsive-text',
  'border-2',
  'border-emerald-950',
  'dark:border-emerald-300',
  'text-slate-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'dark:bg-slate-900',
  'dark:text-slate-100',
  'bg-slate-300'
].join(' ')

const BUTTON_STYLES = [
  'dark:hover:text-emerald-300',
  'hover:text-emerald-900',
  'cursor-pointer'
  // 'hover:scale-110',
].join(' ')

import {
  siMicrosofttranslator,
  siKashflow,
  siGithub,
  siGooglecardboard
} from 'simple-icons'

import Home from '@components/icons/home.astro'
import Moon from '@components/icons/moon.astro'
import Sun from '@components/icons/sun.astro'

const BOARD_BUTTON_STYLE =
  process.env.NODE_ENV !== 'development' ? '' : 'hidden'
---

<article class={BUTTONS_STYLES}>
  <!-- LANGUAGE SWITCH -->
  <a
    class={BUTTON_STYLES}
    title='Switch language en/es'
    id='language-toggle'
    href={href}
  >
    <svg
      class='w-8 h-8 inline-flex fill-slate-950 dark:fill-emerald-300'
      set:html={siMicrosofttranslator.svg}
    />
  </a>
  <!-- HOME OR RANDOM PLACE -->
  <button class={`${BUTTON_STYLES} hidden`} title='go home' id='home-button'>
    <Home class='w-8 h-8 inline-flex fill-slate-950 dark:fill-emerald-300' />
  </button>
  <button
    class={`${BUTTON_STYLES} hidden`}
    title='Go to a random page'
    id='random-place-button'
  >
    <svg
      class='w-8 h-8 inline-flex fill-slate-950 dark:fill-emerald-300'
      set:html={siKashflow.svg}
    />
  </button>
  <!-- THEME SWITCH -->
  <button id='theme-toggle' type='button' title='Switch dark/light theme'>
    <Moon
      class='w-8 h-8 hidden dark:fill-emerald-300'
      id='theme-toggle-dark-icon'
    />
    <Sun
      class='w-8 h-8 hidden dark:fill-emerald-300'
      id='theme-toggle-light-icon'
    />
  </button>
  <!-- SOURCE CODE -->
  <a
    href='https://github.com/jamerrq/jamerrq.dev'
    target='_blank'
    rel='noopener noreferrer'
    class='dark:hover:text-emerald-300 hover:text-emerald-900'
    title='Source code on GitHub'
  >
    <svg
      class='w-8 h-8 inline-flex fill-slate-950 dark:fill-emerald-300'
      set:html={siGithub.svg}
    />
  </a>
  <!-- BOARD -->
  <a
    href='/board'
    class={`${BUTTON_STYLES} ${BOARD_BUTTON_STYLE}`}
    title='Go to the board'
  >
    <svg
      class='w-8 h-8 inline-flex fill-slate-950 dark:fill-emerald-300'
      set:html={siGooglecardboard.svg}
    />
  </a>
</article>
