---
import Copyright from '@components/icons/copyright.astro'
import { siAstro, siPreact, siTailwindcss, siMdx, siBun } from 'simple-icons'
---

<style>
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100dvw;
    height: fit-content;
    padding: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    color: #fff;
    background-color: #000;
    opacity: 1;
  }
</style>

<footer class='font-averia'>
  <span class='text-xs xl:text-xl'>Powered by</span>
  <svg
    class='w-4 h-4 md:w-6 md:h-6 xl:w-8 xl:h-8 inline'
    set:html={siAstro.svg}
    fill={`#${siAstro.hex}`}
  />
  <svg
    class='w-4 h-4 md:w-6 md:h-6 xl:w-8 xl:h-8 inline'
    set:html={siPreact.svg}
    fill={`#${siPreact.hex}`}
  />
  <svg
    class='w-4 h-4 md:w-6 md:h-6 xl:w-8 xl:h-8 inline'
    set:html={siTailwindcss.svg}
    fill={`#${siTailwindcss.hex}`}
  />
  <svg
    class='w-4 h-4 md:w-6 md:h-6 xl:w-8 xl:h-8 inline'
    set:html={siMdx.svg}
    fill={`#fff`}
  />
  <svg
    class='w-4 h-4 md:w-6 md:h-6 xl:w-8 xl:h-8 inline'
    set:html={siBun.svg}
    fill={`#fff`}
  />
  <aside>
    <a
      href='https://github.com/jamerrq'
      target='_blank'
      rel='noopener noreferrer'
      class='text-emerald-300 flex gap-1 items-center ml-2'
    >
      <Copyright />
      <span class='text-xs xl:text-xl'>@jamerrq</span>
    </a>
  </aside>
</footer>
