---
interface Props {
  lang?: string
  index?: number
  project?: {
    title: string
    time: string
    repository?: string
    preview?: string
    technologies: string[]
  }
}

import { siAstro, siSupabase, siNextdotjs, siTailwindcss } from 'simple-icons'

const { lang = 'en', index = 0 }: Props = Astro.props
interface Project {
  title: { en: string; es: string }
  image: string
  time: string
  repository?: string
  preview?: string
  technologies: string[]
}
import { projects } from '@data/working-on.json'
const project = projects.at(index) as Project
const SVGS_STYLES = ['w-5', 'h-5', 'xl:w-6', 'xl:h-6', 'hover:scale-110'].join(
  ' '
)

import { Image } from 'astro:assets'
---

<li
  class='grid justify-items-center items-center gap-1 [&>*]:text-center relative [&>*]:rounded-sm [&>span]:text-sm [&>span]:xl:text-base'
>
  <div
    class='absolute bottom-0 right-2 font-rubik-doodle text-xs dark:bg-emerald-900 bg-emerald-500 dark:text-emerald-100 text-emerald-950 px-1 shadow shadow-black/90'
  >
    {project?.time}+ {lang === 'en' ? 'months' : 'meses'}
  </div>
  <h1
    class='text-sm xl:text-base font-rubik-doodle dark:text-emerald-100 text-emerald-950 bg-emerald-400 dark:bg-emerald-900 px-2 py-1 shadow shadow-black/90'
  >
    {lang === 'en' ? project?.title.en : project?.title.es}
  </h1>
  <section class='bg-transparent w-full flex justify-center items-center'>
    <Image
      src={project?.image}
      alt={`snap for ${project?.title.en}`}
      width='150'
      height='50'
      loading='eager'
    />
    <aside class='flex flex-col items'>
      <div class='flex gap-2 items-center justify-center'>
        {
          project.technologies.map((t) => {
            const a =
              {
                astro: siAstro,
                supabase: siSupabase,
                nextjs: siNextdotjs,
                tailwindcss: siTailwindcss
              }[t.toLowerCase().replaceAll(' ', '')] || siAstro
            return (
              <svg class={SVGS_STYLES} set:html={a.svg} fill={`#${a.hex}`} />
            )
          })
        }
      </div>
      <span>
        Demo: {project?.preview ? '' : 'coming soon'}
      </span>
    </aside>
  </section>
</li>
