---
const SOCIALS_STYLES: string = [
  'col-span-2',
  'row-span-2',
  'gap-2',
  'bg-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'text-4xl',
  // 'font-bold',
  'text-slate-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'dark:transition-all',
  'border-emerald-950',
  'dark:border-emerald-300',
  // 'hover:border-slate-100',
  'border-2',
  'dark:bg-slate-900',
  'dark:text-emerald-300',
  // 'hover:scale-[1.02]',
  // 'hover:duration-200',
  // 'hover:ease-in-out',
  'grid',
  'grid-rows-2',
  'grid-cols-1'
].join(' ')
import {
  siMaildotru,
  siGithub,
  siGmail,
  siLichess,
  siLinkedin,
  siAdobeacrobatreader
} from 'simple-icons'
---

<article class={SOCIALS_STYLES} title='My Links'>
  <div class='flex gap-2 justify-center text-black items-center'>
    <p class='font-semibold'>Contact</p>
    <svg
      class='w-8 h-8 inline-flex fill-slate-950 dark:fill-emerald-300'
      set:html={siMaildotru.svg}
    />
  </div>
  <div class='flex justify-around [&>a]:'>
    <!-- GitHub -->
    <a
      href='https://github.com/jamerrq'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='GitHub'
    >
      <svg
        class='w-8 h-8 inline-flex fill-slate-950 dark:fill-emerald-300'
        set:html={siGithub.svg}
        fill={siGithub.hex}
      />
    </a>
    <!-- Mail -->
    <a
      href='mailto:jamerrq@gmail.com'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='Mail'
    >
      <svg
        class='w-8 h-8 inline-flex fill-slate-950 dark:fill-emerald-300'
        set:html={siGmail.svg}
        fill={siGmail.hex}
      />
    </a>
    <!-- LinkedIn -->
    <a
      href='https://www.linkedin.com/in/jamerrq/'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='Linkedin'
    >
      <svg
        class='w-8 h-8 inline-flex fill-slate-950 dark:fill-emerald-300'
        set:html={siLinkedin.svg}
        fill={siLinkedin.hex}
      />
    </a>
    <!-- CV -->
    <a
      href='https://my-portfolio-jamerrq.netlify.app/assets/pdf/CV_JamerRebolledo.pdf'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='CV'
    >
      <svg
        class='w-8 h-8 inline-flex fill-slate-950 dark:fill-emerald-300'
        set:html={siAdobeacrobatreader.svg}
        fill={siAdobeacrobatreader.hex}
      />
    </a>
    <!-- Lichess -->
    <a
      href='https://lichess.org/@/jamerrq'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='Lichess'
    >
      <svg
        class='w-8 h-8 inline-flex fill-slate-950 dark:fill-emerald-300'
        set:html={siLichess.svg}
        fill={siLichess.hex}
      />
    </a>
  </div>
</article>
