---
const SOCIALS_STYLES: string = [
  'col-span-2',
  'row-span-2',
  // 'gap-2',
  'bg-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'text-4xl',
  // 'font-bold',
  'text-slate-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  'duration-200',
  'dark:transition-all',
  // 'border-emerald-950',
  // 'dark:border-emerald-300',
  // 'border-2',
  // 'hover:border-slate-100',
  'dark:bg-slate-900',
  'dark:text-emerald-300',
  // 'hover:scale-[1.02]',
  // 'hover:duration-200',
  // 'hover:ease-in-out',
  'grid',
  'grid-rows-3',
  'grid-cols-1',
  'p-2'
].join(' ')

import {
  siMaildotru,
  siGithub,
  siGmail,
  siLichess,
  siLinkedin,
  siAdobeacrobatreader
} from 'simple-icons'

import Copy from '@components/icons/copy.astro'

// {ICONS_STYLES}
const ICONS_STYLES = [
  'w-6',
  'h-6',
  'xl:w-8',
  'xl:h-8',
  'inline-flex',
  'fill-slate-950',
  'dark:fill-emerald-300'
].join(' ')

interface Props {
  lang: string
}
const { lang }: Props = Astro.props
---

<article class={SOCIALS_STYLES} title='My Links'>
  <header class='flex gap-2 justify-center items-center'>
    <p class='font-semibold text-3xl xl:text-4xl'>Contact</p>
    <svg class={ICONS_STYLES} set:html={siMaildotru.svg} />
  </header>
  <div class='flex h-fit w-full items-center justify-center gap-2'>
    <span
      class='font-merriweather font-bold text-sm xl:text-base text-center dark:text-cyan-100 text-cyan-950 dark:bg-emerald-950 bg-emerald-300 p-2 rounded border-2 border-slate-900'
    >
      jamerrq@gmail.com
    </span>
    <Copy
      class='w-8 h-8 dark:bg-slate-300 bg-slate-950 fill-slate-300 dark:fill-slate-950 p-2 rounded-sm cursor-pointer hover:scale-110 transition-all'
      onclick="navigator.clipboard.writeText('jamerrq@gmail.com'); alert('Email shipped into clipboard!');"
    />
  </div>
  <div class='flex justify-around [&>a]:'>
    <!-- GitHub -->
    <a
      href='https://github.com/jamerrq'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='GitHub'
    >
      <svg class={ICONS_STYLES} set:html={siGithub.svg} fill={siGithub.hex} />
    </a>
    <!-- Mail -->
    <a
      href='mailto:jamerrq@gmail.com'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='Mail'
    >
      <svg class={ICONS_STYLES} set:html={siGmail.svg} fill={siGmail.hex} />
    </a>
    <!-- LinkedIn -->
    <a
      href='https://www.linkedin.com/in/jamerrq/'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='Linkedin'
    >
      <svg
        class={ICONS_STYLES}
        set:html={siLinkedin.svg}
        fill={siLinkedin.hex}
      />
    </a>
    <!-- CV -->
    <a
      href={lang === 'en'
        ? '/docs/cv_Jamer_Rebolledo_en.pdf'
        : '/docs/cv_Jamer_Rebolledo_es.pdf'}
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='CV'
    >
      <svg
        class={ICONS_STYLES}
        set:html={siAdobeacrobatreader.svg}
        fill={siAdobeacrobatreader.hex}
      />
    </a>
    <!-- Lichess -->
    <a
      href='https://lichess.org/@/jamerrq'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:scale-110'
      title='Lichess'
    >
      <svg class={ICONS_STYLES} set:html={siLichess.svg} fill={siLichess.hex} />
    </a>
  </div>
</article>
