---
import { siMaildotru } from 'simple-icons'

import GenericIcon from '@components/icons/icon.astro'

interface Props {
  lang: string
}

const { lang }: Props = Astro.props

import Box from '@components/boxes/box.astro'
import EmailBadge from '@components/badges/email-badge.astro'

import getIconsFn from '@data/socials.ts'
const socials = getIconsFn(lang)
---

<Box
  title='Contact Section'
  otherStyles='xl:col-span-2 xl:row-span-2 justify-around'
>
  <header class='flex gap-2 dark:text-emerald-300 text-slate-950'>
    <p class='font-semibold text-3xl xl:text-4xl'>Contact Links</p>
    <GenericIcon svg={siMaildotru.svg} />
  </header>
  <EmailBadge lang={lang} />
  <div class='flex justify-around gap-4 w-[90%]'>
    {
      socials.map((s) => (
        <GenericIcon title={s.title} href={s.href} svg={s.svg} />
      ))
    }
  </div>
</Box>
