---
import Hbox from '@components/boxes/hbox.astro'

import {
  siNodedotjs,
  siExpress,
  siSequelize,
  siPostgresql,
  siTypescript,
  siPython,
  siCsharp,
  siGnubash,
  siGit,
  siVisualstudiocode,
  siDocker,
  siUbuntu as siLinux
} from 'simple-icons'

const ICON_BLOCKS_STYLES = [
  'flex',
  'gap-2',
  '[&>img]:rounded-[10px]',
  'p-1',
  'rounded-[10px]',
  '[&_svg]:shadow',
  '[&_svg]:p-1',
  '[&_svg]:bg-white/50',
  '[&_svg]:dark:bg-slate-900/80',
  '[&_svg]:rounded'
].join(' ')
interface Props {
  lang?: string
}

const { lang = 'en' }: Props = Astro.props

const SUBTITLE_STYLES = ['flex', 'flex-row', 'gap-2', 'text-2xl'].join(' ')

const SVGS_STYLES = ['w-6', 'h-6', 'xl:w-8', 'xl:h-8', 'hover:scale-110'].join(
  ' '
)
---

<Hbox
  title='The tools I (love) work with'
  href={lang === 'en' ? 'tech-stack' : '/es/tech-stack'}
  otherStyles='xl:row-span-3 xl:col-span-2 flex-col gap-4'
>
  <div
    class='gap-2 flex font-bold text-2xl xl:text-4xl text-amber-950 dark:text-amber-300'
    transition:name='tech-stack'
  >
    <h2>
      {lang === 'en' ? 'Tech Stack' : 'Tecnologías'}
    </h2>
  </div>
  <div class='grid grid-cols-2 gap-2 items-center justify-items-center'>
    <div class={SUBTITLE_STYLES}>
      <p class='font-semibold text-xl xl:text-3xl'>Backend</p>
    </div>
    <div class={`${ICON_BLOCKS_STYLES}`}>
      <!-- Node -->
      <svg
        class={SVGS_STYLES}
        set:html={siNodedotjs.svg}
        fill={`#${siNodedotjs.hex}`}
      />
      <!-- Express -->
      <svg
        class={SVGS_STYLES}
        set:html={siExpress.svg}
        fill={`#${siDocker.hex}`}
      />
      <!-- PostgreSQL -->
      <svg
        class={SVGS_STYLES}
        set:html={siPostgresql.svg}
        fill={`#${siPostgresql.hex}`}
      />
      <!-- Sequelize -->
      <svg
        class={SVGS_STYLES}
        set:html={siSequelize.svg}
        fill={`#${siDocker.hex}`}
      />
    </div>
    <div class={SUBTITLE_STYLES}>
      <p class='font-semibold text-xl xl:text-3xl'>
        {lang === 'en' ? 'Languages' : 'Lenguajes'}
      </p>
    </div>
    <div class={`${ICON_BLOCKS_STYLES} `}>
      <!-- TypeScript -->
      <svg
        class={SVGS_STYLES}
        set:html={siTypescript.svg}
        fill={`#${siTypescript.hex}`}
      />
      <!-- Bash -->
      <svg
        class={SVGS_STYLES}
        set:html={siGnubash.svg}
        fill={`#${siNodedotjs.hex}`}
      />
      <!-- Python -->
      <svg class={SVGS_STYLES} set:html={siPython.svg} fill='#ff9900' />
      <!-- C# -->
      <svg
        class={SVGS_STYLES}
        set:html={siCsharp.svg}
        fill={`#${siCsharp.hex}`}
      />
    </div>
    <div class={SUBTITLE_STYLES}>
      <p class='font-semibold text-xl xl:text-3xl'>
        {lang === 'en' ? 'Tools' : 'Misc'}
      </p>
    </div>
    <div class={`${ICON_BLOCKS_STYLES} `}>
      <!-- Git -->
      <svg class={SVGS_STYLES} set:html={siGit.svg} fill={`#${siGit.hex}`} />
      <!-- Visual Studio Code -->
      <svg
        class={SVGS_STYLES}
        set:html={siVisualstudiocode.svg}
        fill={`#${siVisualstudiocode.hex}`}
      />
      <!-- Docker -->
      <svg
        class={SVGS_STYLES}
        set:html={siDocker.svg}
        fill={`#${siDocker.hex}`}
      />
      <!-- Linux -->
      <svg class={SVGS_STYLES} set:html={siLinux.svg} fill={`#FE7A36`} />
    </div>
  </div>
  <aside class='p-2 rounded-[10px] flex gap-2 justify-center items-center'>
    <span
      class='font-bold text-sm xl:text-base dark:text-emerald-300 text-slate-900 font-secondary'
    >
      - {lang === 'en' ? 'Tap to see more' : 'Presiona para ver más'} -
    </span>
  </aside>
</Hbox>
