---
const TECH_STACK_STYLES: string = [
  'col-span-2',
  'row-span-3',
  'bg-slate-300/80',
  'rounded-sm',
  // 'shadow-[0_0_0.3rem_rgb(69_26_3)]', // rgb(69, 26, 3)
  // 'dark:shadow-[0_0_0.3rem_rgb(253_230_138)]', // rgb(253, 230, 138)
  'flex',
  'flex-col',
  'p-2',
  'items-center',
  'justify-around',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'transition-all',
  // 'border-2',
  // 'border-amber-500',
  'text-amber-950',
  'dark:text-amber-300',
  'dark:bg-slate-900/95',
  'hover:scale-[1.02]',
  'hover:transition-all',
  'text-2xl'
  // 'animate-blurred-fade-in',
  // 'animate-delay-300'
].join(' ')
import {
  siNodedotjs,
  siExpress,
  siSequelize,
  siPostgresql,
  siTypescript,
  siPython,
  siCsharp,
  siGnubash,
  siGit,
  siVisualstudiocode,
  siDocker,
  siUbuntu as siLinux
} from 'simple-icons'
// class='flex gap-2 [&>img]:rounded-sm bg-emerald-300 p-1 rounded-sm'
const ICON_BLOCKS_STYLES = [
  'flex',
  'gap-2',
  '[&>img]:rounded-sm',
  'p-1',
  'rounded-sm'
].join(' ')
interface Props {
  lang?: string
}
const { lang = 'en' }: Props = Astro.props

const SUBTITLE_STYLES = ['flex', 'flex-row', 'gap-2', 'text-2xl'].join(' ')

// {SVGS_STYLES}
const SVGS_STYLES = ['w-5', 'h-5', 'xl:w-6', 'xl:h-6', 'hover:scale-110'].join(
  ' '
)
---

<a
  title='The tools I (love) work with'
  class={TECH_STACK_STYLES}
  href={lang === 'en' ? 'tech-stack' : '/es/tech-stack'}
  transition:name='tech-stack'
>
  <div class='gap-2 flex font-bold text-2xl xl:text-4xl'>
    <p>
      {lang === 'en' ? 'Tech Stack' : 'Tecnologías'}
    </p>
  </div>
  <div class='grid grid-cols-2 gap-2 items-center justify-items-center'>
    <div class={SUBTITLE_STYLES}>
      <p class='font-semibold text-xl xl:text-3xl'>Backend</p>
    </div>
    <div class={`${ICON_BLOCKS_STYLES}`}>
      <!-- Node -->
      <svg
        class={SVGS_STYLES}
        set:html={siNodedotjs.svg}
        fill={`#${siNodedotjs.hex}`}
      />
      <!-- Express -->
      <svg
        class={SVGS_STYLES}
        set:html={siExpress.svg}
        fill={`#${siSequelize.hex}`}
      />
      <!-- PostgreSQL -->
      <svg
        class={SVGS_STYLES}
        set:html={siPostgresql.svg}
        fill={`#${siPostgresql.hex}`}
      />
      <!-- Sequelize -->
      <svg
        class={SVGS_STYLES}
        set:html={siSequelize.svg}
        fill={`#${siSequelize.hex}`}
      />
    </div>
    <div class={SUBTITLE_STYLES}>
      <p class='font-semibold text-xl xl:text-3xl'>
        {lang === 'en' ? 'Languages' : 'Dialectos'}
      </p>
    </div>
    <div class={`${ICON_BLOCKS_STYLES} `}>
      <!-- TypeScript -->
      <svg
        class={SVGS_STYLES}
        set:html={siTypescript.svg}
        fill={`#${siTypescript.hex}`}
      />
      <!-- Bash -->
      <svg
        class={SVGS_STYLES}
        set:html={siGnubash.svg}
        fill={`#${siGnubash.hex}`}
      />
      <!-- Python -->
      <svg class={SVGS_STYLES} set:html={siPython.svg} fill='#ff9900' />
      <!-- C# -->
      <svg
        class={SVGS_STYLES}
        set:html={siCsharp.svg}
        fill={`#${siCsharp.hex}`}
      />
    </div>
    <div class={SUBTITLE_STYLES}>
      <p class='font-semibold text-xl xl:text-3xl'>
        {lang === 'en' ? 'Tools' : 'Misc'}
      </p>
    </div>
    <div class={`${ICON_BLOCKS_STYLES} `}>
      <!-- Git -->
      <svg class={SVGS_STYLES} set:html={siGit.svg} fill={`#${siGit.hex}`} />
      <!-- Visual Studio Code -->
      <svg
        class={SVGS_STYLES}
        set:html={siVisualstudiocode.svg}
        fill={`#${siVisualstudiocode.hex}`}
      />
      <!-- Docker -->
      <svg
        class={SVGS_STYLES}
        set:html={siDocker.svg}
        fill={`#${siDocker.hex}`}
      />
      <!-- Linux -->
      <svg class={SVGS_STYLES} set:html={siLinux.svg} fill={`#FE7A36`} />
    </div>
  </div>
  <aside class='p-2 rounded-sm flex gap-2 justify-center items-center'>
    <p
      class='font-bold text-sm xl:text-base font-merriweather dark:text-emerald-300 text-slate-900 border-b-2'
    >
      <!-- Tap to see more -->
      {lang === 'en' ? '❯ Tap to see more' : '❯ Toca para ver más'}
    </p>
  </aside>
</a>
