---
const EXPERIENCE_STYLES = [
  'col-span-1 xl:col-span-2',
  'row-span-4',
  'gap-2',
  'bg-slate-300',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'align-center',
  'font-semibold',
  'text-slate-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  'border-2',
  'dark:border-emerald-300',
  'border-emerald-950',
  'dark:bg-slate-800',
  'dark:text-slate-200',
  'flex',
  'flex-col',
  'p-1',
  '[&>div>ul>li]:dark:text-slate-200',
  '[&>div>ul>li>a]:bg-emerald-500',
  '[&>div>ul>li>a]:dark:bg-emerald-400',
  '[&>div>ul>li>a]:dark:text-emerald-950',
  '[&>div>ul>li>a]:text-slate-950'
].join(' ')

import {
  siNodedotjs,
  siExpress,
  siPostgresql,
  siSequelize,
  siJsonwebtokens,
  siPostman,
  siReact,
  siRedux,
  siTailwindcss,
  siVercel,
  siVite,
  siAuth0,
  siGitkraken
} from 'simple-icons'

// {ICONS_STYLES}
const ICONS_STYLES = ['w-5', 'h-5', 'xl:w-6', 'xl:h-6', 'hover:scale-110'].join(
  ' '
)

interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props
---

<article class={EXPERIENCE_STYLES} title="Projects I'm working on">
  <div
    class='text-2xl xl:text-3xl flex gap-2 text-emerald-950 dark:text-emerald-300 items-center'
  >
    <p>
      <!-- Working on -->
      {lang === 'en' ? 'Working on' : 'Trabajando en'}
    </p>
    <svg
      class='w-6 h-6 inline-flex'
      set:html={siGitkraken.svg}
      fill={`#${siGitkraken.hex}`}
    />
  </div>
  <div class='h-full w-full gap-2'>
    <ul
      class='flex gap-2 text-base flex-col justify-around h-full font-merriweather font-bold'
    >
      <li
        class='grid grid-rows-2 grid-cols-2 justify-items-center gap-1 [&>*]:w-full [&>*]:text-center [&>*]:rounded-sm [&>span]:text-sm [&>span]:xl:text-base'
      >
        <a
          class='col-span-2'
          href='https://pinturas-app-back.onrender.com/'
          target='_blank'
          rel='noopener noreferrer'
        >
          <!-- Backend Server for IDE Pinturerias -->
          <h1 class='text-sm xl:text-base'>
            {
              lang === 'en'
                ? 'Backend Server for IDE Pinturerias'
                : 'Servidor Backend para IDE Pinturerias'
            }
          </h1>
        </a>
        <span class='text-sm xl:text-base'>
          <!-- Time -->
          {lang === 'en' ? 'Time' : 'Tiempo'}
        </span>
        <span>
          <!-- 5+ months -->
          {lang === 'en' ? '6+ months' : '6+ meses'}
        </span>
        <span>
          <!-- Repository -->
          {lang === 'en' ? 'Repository' : 'Repositorio'}
        </span>
        <a
          href='https://github.com/Ide-Pinturerias/pinturas-app-back'
          target='_blank'
          rel='noopener noreferrer'
        >
          <span class='text-xs xl:text-base'> pinturas-app-back</span>
        </a>
        <span>
          <!-- Live Demo -->
          {lang === 'en' ? 'Preview' : 'Avance'}
        </span>
        <a
          href='https://pinturas-app-back.onrender.com/'
          target='_blank'
          rel='noopener noreferrer'
        >
          <span class='text-sm xl:text-base'> onrender.com</span>
        </a>
        <span>
          <!-- Technologies -->
          {lang === 'en' ? 'Technologies' : 'Tecnologías'}
        </span>
        <div
          class='flex w-full overflow-hidden bg-emerald-100 gap-2 p-1 items-center justify-center'
        >
          <!-- Node -->
          <a
            href='https://nodejs.org/en/about'
            target='_blank'
            rel='noopener noreferrer'
            title='Node.js'
          >
            <svg
              class={ICONS_STYLES}
              set:html={siNodedotjs.svg}
              fill={`#${siNodedotjs.hex}`}
            />
          </a>
          <!-- Express -->
          <a
            href='https://expressjs.com/'
            target='_blank'
            rel='noopener noreferrer'
            title='Express'
          >
            <svg
              class={ICONS_STYLES}
              set:html={siExpress.svg}
              fill={`#${siExpress.hex}`}
            />
          </a>
          <!-- PostgreSQL -->
          <a
            href='https://www.postgresql.org/'
            target='_blank'
            rel='noopener noreferrer'
            title='PostgreSQL'
          >
            <svg
              class='w-4 xl:w-5 h-4 xl:h-6 hover:scale-110'
              set:html={siPostgresql.svg}
              fill={`#${siPostgresql.hex}`}
            />
          </a>
          <!-- Sequelize -->
          <a
            href='https://sequelize.org/'
            target='_blank'
            rel='noopener noreferrer'
            title='Sequelize'
          >
            <svg
              class={ICONS_STYLES}
              set:html={siSequelize.svg}
              fill={`#${siSequelize.hex}`}
            />
          </a>
          <!-- JWT -->
          <a
            href='https://jwt.io/'
            target='_blank'
            rel='noopener noreferrer'
            title='Json Web Tokens'
          >
            <svg
              class={ICONS_STYLES}
              set:html={siJsonwebtokens.svg}
              fill={`#${siJsonwebtokens.hex}`}
            />
          </a>
          <!-- Postman -->
          <a
            href='https://www.postman.com/'
            target='_blank'
            rel='noopener noreferrer'
            title='Postman'
          >
            <svg
              class='w-5 h-5 hover:scale-110'
              set:html={siPostman.svg}
              fill={`#${siPostman.hex}`}
            />
          </a>
        </div>
      </li>
      <li
        class='grid grid-rows-2 grid-cols-2 justify-items-center gap-1 [&>*]:w-full [&>*]:text-center [&>*]:rounded-sm [&>span]:text-sm [&>span]:xl:text-base'
      >
        <a
          href='https://pinturas-app-front.vercel.app/'
          target='_blank'
          rel='noopener noreferrer'
          class='col-span-2 text-sm xl:text-base'
        >
          <!-- Frontend UI for IDE Pinturerias -->
          {
            lang === 'en'
              ? 'Frontend UI for IDE Pinturerias'
              : 'Interfaz de Usuario para IDE Pinturerias'
          }
        </a>
        <span>
          <!-- Time -->
          {lang === 'en' ? 'Time' : 'Tiempo'}
        </span>
        <span>
          <!-- 6+ months -->
          {lang === 'en' ? '6+ months' : '6+ meses'}
        </span>
        <span>
          <!-- Repository -->
          {lang === 'en' ? 'Repository' : 'Repositorio'}
        </span>
        <a
          href='https://github.com/Ide-Pinturerias/pinturas-app-front'
          target='_blank'
          rel='noopener noreferrer'
        >
          <span class='text-xs xl:text-base'> pinturas-app-front</span>
        </a>
        <span>
          <!-- Live Demo -->
          {lang === 'en' ? 'Preview' : 'Avance'}
        </span>
        <a
          href='https://pinturas-app-front.vercel.app/'
          target='_blank'
          rel='noopener noreferrer'
        >
          <span class='text-sm xl:text-base'> vercel.app</span>
        </a>
        <span>
          <!-- Technologies -->
          {lang === 'en' ? 'Technologies' : 'Tecnologías'}
        </span>
        <div
          class='flex w-full bg-emerald-100 gap-2 p-1 items-center justify-center'
        >
          <!-- React -->
          <a
            href='https://reactjs.org/'
            target='_blank'
            rel='noopener noreferrer'
            title='React'
          >
            <svg
              class={ICONS_STYLES}
              set:html={siReact.svg}
              fill={`#${siSequelize.hex}`}
            />
          </a>
          <!-- Redux -->
          <a
            href='https://redux.js.org/'
            target='_blank'
            rel='noopener noreferrer'
            title='Redux'
          >
            <svg
              class={ICONS_STYLES}
              set:html={siRedux.svg}
              fill={`#${siRedux.hex}`}
            />
            <!-- Tailwind -->
            <a
              href='https://tailwindcss.com/'
              target='_blank'
              rel='noopener noreferrer'
              title='Tailwind CSS'
            >
              <svg
                class={ICONS_STYLES}
                set:html={siTailwindcss.svg}
                fill={`#${siTailwindcss.hex}`}
              />
              <!-- Vercel -->
              <a
                href='https://vercel.com/'
                target='_blank'
                rel='noopener noreferrer'
                title='Vercel'
              >
                <svg
                  class={ICONS_STYLES}
                  set:html={siVercel.svg}
                  fill={`#${siVercel.hex}`}
                />
                <!-- Vite -->
                <a
                  href='https://vitejs.dev/'
                  target='_blank'
                  rel='noopener noreferrer'
                  title='Vite'
                >
                  <svg
                    class={ICONS_STYLES}
                    set:html={siVite.svg}
                    fill={`#${siVite.hex}`}
                  />
                  <!-- Auth0 -->
                  <a
                    href='https://auth0.com/'
                    target='_blank'
                    rel='noopener noreferrer'
                    title='Auth0'
                  >
                    <svg
                      class={ICONS_STYLES}
                      set:html={siAuth0.svg}
                      fill={`#${siAuth0.hex}`}
                    />
                  </a>
                </a>
              </a>
            </a>
          </a>
        </div>
      </li>
    </ul>
  </div>
</article>
