---
const EXPERIENCE_STYLES = [
  'col-span-1 xl:col-span-2',
  'row-span-4',
  'gap-2',
  'bg-slate-300/70',
  'rounded-sm',
  'shadow-[0_0_0.5rem_rgba(0_0_0_0.5)]',
  'flex',
  'items-center',
  'justify-center',
  'align-center',
  'font-semibold',
  'text-slate-950',
  'font-rubik-doodle',
  'w-full',
  'h-full',
  // 'border-2',
  // 'dark:border-emerald-300',
  // 'border-emerald-950',
  'dark:bg-slate-900/95',
  'dark:text-slate-200',
  'flex',
  'flex-col',
  'pt-2',
  'px-2',
  '[&>div>ul>li]:dark:text-slate-200',
  '[&>div>ul>li>a]:bg-emerald-500',
  '[&>div>ul>li>a]:dark:bg-emerald-400',
  '[&>div>ul>li>a]:dark:text-emerald-950',
  '[&>div>ul>li>a]:text-slate-950'
  // 'animate-blurred-fade-in',
  // 'animate-delay-200'
].join(' ')

import {
  // siNodedotjs,
  // siExpress,
  // siPostgresql,
  // siSequelize,
  // siJsonwebtokens,
  // siPostman,
  // siReact,
  // siRedux,
  // siTailwindcss,
  // siVercel,
  // siVite,
  // siAuth0,
  siGitkraken
} from 'simple-icons'

interface Props {
  lang: string
}
const { lang = 'en' }: Props = Astro.props

import ProjectCard from './project.astro'
---

<article class={EXPERIENCE_STYLES} title="Projects I'm working on">
  <header
    class='text-2xl xl:text-3xl flex gap-2 text-emerald-950 dark:text-emerald-300 items-center'
  >
    <p>
      <!-- Working on -->
      {lang === 'en' ? 'Working on' : 'Trabajando en'}
    </p>
    <svg
      class='w-6 h-6 inline-flex'
      set:html={siGitkraken.svg}
      fill={`#${siGitkraken.hex}`}
    />
  </header>
  <div class='h-full w-full gap-2'>
    <ul
      class='flex gap-2 text-base flex-col justify-around h-full font-merriweather font-bold py-2'
    >
      <ProjectCard lang={lang} index={0} />
      <ProjectCard lang={lang} index={1} />
    </ul>
  </div>
</article>
