---
interface Props {
  href: string
  title?: string
  src: string
  absolute?: boolean
}

const {
  href,
  title = 'Generic Movie',
  src,
  absolute = false
}: Props = Astro.props
---

<a
  href={href}
  target='_blank'
  rel='noopener noreferrer'
  class='grid place-content-center'
  title={title}
  aria-label={title}
>
  <video
    src={src}
    autoplay
    muted
    loop
    playsinline
    preload='auto'
    data-abs={absolute}
    class='object-cover rounded h-48'
  >
  </video>
</a>
