---
interface Props {
  title: string
  lang?: string
}

const { title, lang = 'en' }: Props = Astro.props

// Fonts
import '@fontsource/fira-sans'

// Styles
import '@styles/index.css'

// Others
import { ViewTransitions } from 'astro:transitions'
import Background from '@components/main/background.astro'
import SEO from '@components/head/seo.astro'
import Scripts from '@components/head/scripts.astro'
import DevScripts from '@components/head/dev-scripts.astro'
import ReloadPrompt from '@components/main/ReloadPrompt.astro'

// Environment
const dev = import.meta.env.DEV
---

<!doctype html>
<html lang={lang}>
  <head>
    <SEO title={title} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body data-dev={dev} class='data-[dev]:debug-screens'>
    <wc-toast class='font-secondary'></wc-toast>
    <Background />
    <main class='min-h-[100dvh] grid place-content-center'>
      <slot />
    </main>
    <script>
      // Card hover effect
      window.onmousemove = (e) => {
        for (const card of document.getElementsByClassName(
          'card'
        ) as any as HTMLElement[]) {
          const rect = card.getBoundingClientRect(),
            x = e.clientX - rect.left,
            y = e.clientY - rect.top

          card.style.setProperty('--mouse-x', `${x}px`)
          card.style.setProperty('--mouse-y', `${y}px`)
        }
      }
    </script>
    {dev ? <DevScripts /> : <Scripts />}
    <ReloadPrompt />
  </body>
</html>
